<h3>$client.getName()</h3>
Age: $client.getAge()<br>
Stylist: <a href="/stylists/$stylist.getId()">$stylist.getName()</a><br>
<a href="/clients/$client.getId()/update">CHANGE STYLIST</a><br>
<a href="/clients/$client.getId()/remove">REMOVE CLIENT</a>
