<h3>$stylist.getName()</h3>
<h4>Shifts</h4>
$stylist.getWorkDays()
<a href="/stylists/:id/remove">REMOVE STYLIST</a>
<br>

<h4>Clients <a href="/stylists/$stylist.getId()/clients/new">ADD CLIENT</a></h4>

#if ($clients.size() > 0)
  #foreach ($client in $clients)
    <p><a href="/stylists/$stylist.getId()/clients/$client.getId()">$client.getName()</a></p>
  #end
#else
  <p>No clients.</p>
#end
